<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= season.year %></h5>
    <p class="card-text">
      <small>
        <%= link_to 'Voir les details', season_path(season) %>
      </small>
    </p>
  </div>
</div>
