<% if @season.errors.any? %>
  <div class="alert alert-danger">
    <% if flash.key? :alert %>
      <p><%= flash.alert %></p>
    <% end %>

    <ul>
      <% @season.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
