<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a
        id="list-general-info-list" href="#general-info"
        class="list-group-item list-group-item-action"
        data-toggle="list">
        Mon compte
      </a>
      <a href="#user-establishment" class="list-group-item list-group-item-action">Mon établissement</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane" id="general-info" aria-labelledby="list-general-info-list">
        <h1>Mon compte</h1>
      </div>
    </div>
  </div>
</div>
