<div class="list-group">
  <%= link_to 'Profil', settings_profile_url, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'Etablissement', settings_establishment_url, class: 'list-group-item list-group-item-action' %>
</div>
