<div class="row">
  <div class="col-md-3">
    <%= render 'settings/nav' %>
  </div>
  <div class="col-md-9">
    <h2>Fonds</h2>
    <%= render partial: 'supplies/form', locals: { supply: @supply } %>
  </div>
</div>
